.input-button{
    width:100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.input-button:focus{
    outline: none;
}
.search-button{
    background-color: blueviolet;
    color: white;
    padding: 10px 15px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    cursor: pointer;
}